<% layout('/layouts/boilerplate') -%>
<body>
  <h3>All Listings</h3>

  <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1">
    <% for (let listing of allListings) { %>
      <div class="card col listing-card ">
        <a href="/listings/<%= listing._id %>" style="text-decoration: none; color: inherit;">
          <div class="card col listing-card" >
            <img src="<%= listing.image.url %>" class="card-img-top" alt="listing_img"   style="height: 20rem">
            <div class="card-body">
              <h5 class="card-title"><%= listing.title %></h5>
              <p class="card-text">₹<%= listing.price.toLocaleString("en-IN") %> / night</p>
            </div>
          </div>
        </a>
      </div>
    <% } %>
  </div>
</body>